* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.banner-content{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://www.w3schools.com/w3images/app.jpg");
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    height: 110vh;
}